* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'League Spartan', sans-serif;
}

body {
    margin: 0;
    width: 100%;
}

/* NAV SECTION */

#nav {
    position: sticky;
    height: 100px;
}

.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #dec053;
}

/* top nav styles */

#top-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 0.5rem;
    width: 100%;
    border-bottom: 1px solid black;
    height: 30px;
}

.top-nav-content {
    font-weight: 300;
}

.top-nav-content:nth-of-type(1) {
    margin-left: 25px;
}

.top-nav-content:nth-of-type(3) {
    margin-right: 25px;
}


/* bottom nav styles */

#bottom-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100vw;
    height: 70px;
    border-bottom: 1px solid black;
    z-index: 99;
}


.nav-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-right: 25px;
    width: 100%;
    z-index: 1;
}

#nav-logo {
    display: flex;
    align-items: center;
    padding: 0 12.5px;
    text-decoration: none;
    color: black;
    font-size: 1.7rem;
    font-weight: 300;
    width: 50%;
}

.items {
    list-style: none;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
}

.links {
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
    font-weight: 300;
}

.underline {
    height: 5px;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

span.bar {
    width: 0px;
    height: 2px;
    background: black;
    transition: all 0.3s ease;
}

.items:hover span.bar {
    width: 100%;
}


/* HEADER SECTION */

#header-container {
    background: linear-gradient(0deg, rgba(21, 20, 20, 0.43), rgba(21, 20, 20, 0.43)), url(./img/headerBackground.jpeg);
    background-position: 100% 80%;
    background-size: cover;
    height: 650px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-header-title {
    color: white;
    text-align: center;
    font-size: 5rem;
}

.header-introduction {
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    margin-top: 25px;
}

/* QUOTE BUTTON */
.quote-button {
    height: 50px;
    width: 200px;
    border-radius: 50px;
    border: none;
    margin-top: 50px;
    gap: 10px;
    background-color: #F0CF5A;
}

.quote-link {
    font-size: 1.7rem;
    color: black;
    text-decoration: none;
}

/* MAIN PAGE SERVICES */

.main-title {
    text-align: center;
    margin-top: 50px;
    font-size: 3rem;
}

.main-introduction {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5rem;
    font-weight: 200;
}

#main-service-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 50px 0;
}

.service-content {
    width: 25%;
    height: auto;
}

.service-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-excavation-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 350px;
    background-image: url(./img/excavationPhoto.jpeg);
    background-position: top;
    background-size: cover;
}

.main-backfill-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 350px;
    background-image: url(./img/backfillPhoto.jpeg);
    background-position: top;
    background-size: cover;
}

.main-demolition-photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    height: 350px;
    background-image: url(./img/demolitionPhoto.jpg);
    background-position: top;
    background-size: cover;
}

.main-service-info {
    background-color: #D9D9D9;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main-info-title {
    text-align: center;
    font-weight: 200;
    text-decoration: underline;
    font-size: 2.5rem;
    margin-top: 15px;
}

.backfill-title {
    width: 250px;
}

.main-info-descreption {
    text-align: center;
    font-weight: 100;
    margin: 15px 10% 15px 10%;
    font-size: 1.3rem;
    line-height: 1.5rem;
}

.learn-button {
    height: 50px;
    width: 200px;
    border: none;
    background-color: black;
    border-radius: 20px;
    margin-bottom: 10px;
}

.learn-link {
    font-size: 2rem;
    color: white;
    text-decoration: none;
    font-weight: 200;
}

/* FOOTER */
#footer-container {
    height: 425px;
    width: auto;
    background: #706C6C;
    display: flex;
    align-items: center;
}

#footer-image {
    width: 450px;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(21, 20, 20, 0.43), rgba(21, 20, 20, 0.43)), url(./img/footerPhoto.jpeg);
    background-size: cover;
    background-position: center right;
    margin-left: 50px;
}

.footer-image-title {
    font-size: 3rem;
    text-align: center;
    color: white;
}

.footer-image-introduction {
    font-weight: 500;
    font-size: 1.6rem;
    color: white;
}

#footer-contact-info {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    height: 325px;
    font-size: 1.1rem;
}

.footer-contact-title {
    margin-bottom: 20px;
    color: white;
    font-size: 3rem;
}

.footer-contact-phone {
    margin-bottom: 15px;
    font-weight: 300;
    color: white;
}

.footer-contact-email {
    margin-bottom: 15px;
    font-weight: 300;
    color: white;
}

.footer-contact-address {
    margin-bottom: 15px;
    font-weight: 300;
    color: white;
}

.footer-title {
    
    font-weight: 200;
    margin-bottom: 10px;
    font-size: 2rem;
    border-bottom: 1px solid white;
}

/* OUR SERVICES PAGE */
.header-nav-symbol {
    font-weight: 200;
    font-size: 1.5rem;
}

#services-header-container {
    background: linear-gradient(0deg, rgba(21, 20, 20, 0.43), rgba(21, 20, 20, 0.43)), url(./img/headerBackground.jpeg);
    background-position: 100% 80%;
    background-size: cover;
    height: 450px;
    top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#services-main-section {
    height: 650px;
}

#services-main-container {
    width: 80%;
    margin: 0 auto;
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.5rem;
}

.services-list {
    font-weight: 300;
    margin-bottom: 50px;
}

.services-main-introduction {
    font-size: 1.8rem;
    font-weight: 200;
    margin-bottom: 25px;
}

.contact-info-main {
    font-weight: 200;
}

.contact-info-styles {
    color: #dec053;
}

.services-main-title,
.services-list-title {
    font-weight: 600;
    border-bottom: 1px solid black;
}

/* QUOTE PAGE */
#quote-main-section {
    background-color: white;
    display: flex;
    justify-content: center;
    height: 1100px;
}

.quote-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
}

.quote-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 25px;
}

.quote-description-title {
    text-align: left;
    font-size: 3rem;
    margin-top: 25px;
    width: 70%;
}

.quote-description-introduction {
    text-align: left;
    margin-top: 25px;
    font-size: 1.5rem;
    font-weight: 200;
    line-height: 2rem;
}

.quote-user-input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote-input-title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 25px;
}

#name-input,
#email-input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    width: 500px;
    height: 50px;
    font-size: 2rem;
}

#inquiry-input {
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 25px;
    width: 500px;
    height: 200px;
    font-size: 1.5rem;
    resize: none;
    font-weight: 200;
}

.name-input-container,
.email-input-container,
.inquiry-input-container {
    display: flex;
    flex-direction: column;
}

.name-label,
.email-label,
.inquiry-label {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    font-weight: 200;
    text-decoration: underline;
    
}

.quote-submit-button {
    text-decoration: none;
    border: none;
    height: 75px;
    width: 250px;
    border-radius: 4rem;
    background-color: #dec053;
    font-size: 3.5rem;
    font-weight: 300;
    letter-spacing: 0.5rem;
    margin-top: 50px;
}


/* media query styles */

@media (max-width: 864px) {
    #nav {
        height: 70px
    }

    #nav-logo {
        width: auto
    }

    .top-nav-content {
        padding-top: 5px;
        padding-bottom: 5px;
        text-align: center;
    }

    #bottom-nav {
        border-bottom: 1px solid black;
    }


    #mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 15px;
        width: 25px;
        position: relative;
        top: 12px;
        right: 15px;
        transition: all 0.3s ease;
        cursor: pointer;
    }

    .nav-items {
        display: flex;
        flex-direction: column;
        height: 60vh;
        width: 100%;
        position: absolute;
        background: rgba(204, 192, 61, 0.3);
        top: -1000px;
        opacity: 0;
        transition: all 0.3s ease;
        padding: 0;
    }

    .items {
        display: flex;
    }

    .links {
        font-size: 3.5rem;
    }

    .nav-items-active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 60vh;
        width: 100%;
        position: absolute;
        top: 70px;
        background: rgba(157, 157, 152, 0.3);
        opacity: 1;
    }


    span.bars {
        background: black;
        height: 3px;
        width: 25px;
        transition: all 0.3s ease;
    }

    #mobile-menu.is-active span.bars:nth-of-type(1) {
        transform: rotate(45deg) translateX(9px);
    }

    #mobile-menu.is-active span.bars:nth-of-type(2) {
        transform: translateX(100px);
        opacity: 0;
    }

    #mobile-menu.is-active span.bars:nth-of-type(3) {
        transform: rotate(-45deg) translateX(8px);
    }
}